# Dependencies
node_modules/
.pnp
.pnp.js

# Env files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Prisma

# Docker volumes
postgres_data/
uploads/
